Please confirm your selections
<%counter = 0%>

<form method="post" action="/confirm">
<%choices.each do |value|%>
<p><input type ="checkbox"  value="<%=value%>" name="confirmed_options[]"><%=value%></p>
<%counter+=1%>
<%end%>
    <p><input type="submit"></p>
</form>