Choose your sanwich toppings.

<form method="post" action="/toppings">
     <p><input type="checkbox" name="choices[]" value = "Ham"> Ham</p>
     <p><input type="checkbox" name="choices[]" value="Turkey"> Turkey</p>
     <p><input type="checkbox" name="choices[]" value = "Mozzerella"> Mozzerella</p>
     <p><input type="checkbox" name="choices[]" value = "American"> American</p>
     <p><input type="checkbox" name="choices[]" value = "Pepper jack"> Pepper Jack</p>
     <p> <input type="checkbox" name="choices[]" value = "Cheddar"> Cheddar</p>
     <p> <input type="submit"></p>
</form>